---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: metrics-dashboard-tls
  namespace: monitoring

spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`metrics.{{ domain }}`)
      kind: Rule
      services:
        - name: prometheus-operator-grafana
          namespace: monitoring
          port: 80
  tls:
    certResolver: default
