apiVersion: externaldns.k8s.io/v1alpha1
kind: DNSEndpoint
metadata:
  name: ingress-dashboard-dns

spec:
  endpoints:
  - dnsName: ingress.{{ domain }}
    recordTTL: 300
    recordType: A
    targets:
{% for ip in floating_ipv4 %}
    - {{ ip }}
{% endfor %}
