---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: ingress-dashboard-tls
  namespace: traefik

spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`ingress.{{ domain }}`) && (PathPrefix(`/dashboard`) || PathPrefix(`/api`))
      kind: Rule
      services:
        - name: traefik
          namespace: traefik
          port: 9000
      middlewares:
        - name: dashboard-basic-auth
          namespace: traefik
  tls:
    certResolver: default
