image:
  tag: 0.7.3

replicas: {{ worker_count }}

# restrict creation of DNS entries to these domains
domainFilters:
{% for domain_filter in domain_filters %}
  - {{ domain_filter }}
{% endfor %}

# registry to use for ownership (txt or noop)
registry: "noop"

logLevel: info
logFormat: text

# DNS provider where records will be created
provider: hetzner

extraEnv:
  - name: HETZNER_TOKEN
    value: "{{ hetzner_dns_token }}"

# interval for DNS updates
interval: 5m

# watch these k8s objects for annotation changes
sources:
  - crd

# modify how DNS records are synchronized between sources and providers (options: sync, upsert-only )
policy: upsert-only

metrics:
  enabled: false
  serviceMonitor:
    enabled: false

crd:
  create: true

resources:
  limits:
    cpu: 20m
    memory: 25Mi
  requests:
    cpu: 10m
    memory: 15Mi
